doctype 5
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    title #{site.title}

    meta(property='og:title', content="#{og.title}")
    meta(property='og:type', content="#{og.type}")
    meta(property='og:image', content="#{og.image}")
    meta(property='og:url', content="#{og.url}")
    meta(property='og:description', content="#{og.description}")

    link(rel='stylesheet', type='text/css', href='/styles/screen.css')

    script !{partial('links.txt.coffee', feedr.feeds)}
    script !{partial('images.txt.coffee', images)}
    script(src='/scripts/main.js')

    !{getBlock('scripts').toHTML()}

  body
    #content !{content}
    #footer
      #left
        |Take me sharing... cause I love it!! &mdash; by&nbsp;
        a(href='http://ouishare.net') OuiShare
      #right
        #follow !{partial('follow.html')}
        #tweet !{partial('tweet.html')}
        #fb-like !{partial('fb-like.html')}
        #g-plus !{partial('g-plus.html')}

    !{partial('piwik.html')}
