doctype 5
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    title #{site.title}

    meta(property='og:title', content="#{og.title}")
    meta(property='og:type', content="#{og.type}")
    meta(property='og:image', content="#{og.image}")
    meta(property='og:url', content="#{og.url}")
    meta(property='og:description', content="#{og.description}")

    link(rel='stylesheet', type='text/css', href='/styles/screen.css')

    script !{partial('links.txt.coffee', feedr.feeds)}
    script(src='/scripts/main.js')

    !{getBlock('scripts').toHTML()}

  body
    #content !{content}
    #footer
      #follow !{partial('follow.html')}
      #tweet !{partial('tweet.html')}
      #fb-like !{partial('fb-like.html')}

    !{partial('piwik.html')}
